services:
  database:
    image: mysql:8.0
    #ports:
    #  - "3307:3306"
    volumes:
      - ./database:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ludoplanet
    command: --wait_timeout=28800 --interactive_timeout=28800 --max_allowed_packet=64M
    networks:
      - app-network
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4173:4173"
    depends_on:
      - backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    depends_on:
      - database
    networks:
      - app-network
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: database
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: root
    depends_on:
      - database
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
